@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hello @(User.Identity.IsAuthenticated ? User.Identity.Name : "World")</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Auth" asp-action="LogOut">
            <a href="javascript:document.forms[0].submit()" class="btn btn-lg btn-primary">Log Out</a>
        </form>
        <div id="tblBook" class="carousel slide" data-ride="carousel" data-interval="6000">
            <table border="1">
                <br />
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Name</th>
                    <th>Redaction</th>
                    <th>Pages</th>
                    <th>Summary</th>
                    <th>Location</th>
                    <th>IsAvailable</th>
                    <th>Manage</th>
                </tr>
                @foreach (BookViewModel book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Author</td>
                        <td>@book.Name</td>
                        <td>@book.Redaction</td>
                        <td>@book.Pages</td>
                        <td>@book.Summary</td>
                        <td>@book.Location</td>
                        <td>@book.IsAvailable</td>
                        <td align="center">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-xs btn-success" style="margin: 5px">Edit</a>
                            <br />
                            <a asp-controller="Home" asp-action="Look" asp-route-id="@book.Id" class="btn btn-xs btn-info" style="margin: 5px">Look</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />        
    }
    else
    {
        <p>
            <a asp-controller="Auth" asp-action="Register" class="btn btn-lg btn-default">Register</a>
            <a asp-controller="Auth" asp-action="LogIn" class="btn btn-lg btn-primary">Log In</a>
        </p>
    }
</div>
