@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hello @(User.Identity.IsAuthenticated ? User.Identity.Name : "World")</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Auth" asp-action="LogOut">
            <a href="javascript:document.forms[0].submit()" class="btn btn-lg btn-primary">Log Out</a>
        </form>
        <div id="tblBook" class="carousel slide" data-ride="carousel" data-interval="6000">
            <table border="1">
                <br />
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Name</th>
                    <th>Redaction</th>
                    <th>Pages</th>
                    <th>Summary</th>
                    <th>Location</th>
                    <th>IsAvailable</th>
                </tr>
                @foreach (BookViewModel book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Author</td>
                        <td>@book.Name</td>
                        <td>@book.Redaction</td>
                        <td>@book.Pages</td>
                        <td>@book.Summary</td>
                        <td>@book.Location</td>
                        <td>@book.IsAvailable</td>
                    </tr>
                }
            </table>
        </div>
        <br />
        @*<div id="tblUser" class="carousel slide" data-ride="carousel" data-interval="6000">
            <table border="1">
                <br />
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>SurName</th>
                    <th>INN</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Birthday</th>
                    <th>Email</th>
                    <th>IdUserTypes</th>
                    <th>IdLibrary</th>
                    <th>IdDirector</th>
                </tr>
                @foreach (UserViewModel user in ViewBag.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.SurName</td>
                        <td>@user.Inn</td>
                        <td>@user.Address</td>
                        <td>@user.Phone</td>
                        <td>@user.Birthday</td>
                        <td>@user.Email</td>
                        <td>@user.IdUserTypes</td>
                        <td>@user.IdLibrary</td>
                        <td>@user.IdDirector</td>
                    </tr>
                }
            </table>
        </div>*@
    }
    else
    {
        <p>
            <a asp-controller="Auth" asp-action="Register" class="btn btn-lg btn-default">Register</a>
            <a asp-controller="Auth" asp-action="LogIn" class="btn btn-lg btn-primary">Log In</a>
        </p>
    }
</div>
