@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider

@model RegisterViewModel
@{
    ViewData["Title"] = "Sign Up";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card custom-card">
        <div class="card-header bg-primary text-white">
            <h3>Login Form</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary rounded-0">Login</button>
                @Html.ActionLink("New User", "Register")
            </div>
        </div>
    </div>
}